body {
  margin: 0;
  min-width: device-width;
  background-color: #F4F4F4
}

div {
  width: device-width;
  background: linear-gradient(to top left, #73A4FF, rgba(180, 100, 255, 0.5), #FF49F8), linear-gradient(to top right, #5F55FF, rgba(180, 100, 255, 0.5), #EC76FF);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 45px;
  color: #F4F4F4;
  font-family: William, serif;
  font-weight: normal;
  font-size: 32px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #F4F4F4;
  font-family: Inter, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

img {
  width: 230px;
}

h3 {
  margin-top: 80px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  color: #F4F4F4;
  font-family: Inter, sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: #111111;
  font-family: Inter, sans-serif;
  font-size: 18px;
  text-align: center;
}
